@page
@model IndexModel

@{
    ViewData["Title"] = "Logs";
}
<h1>Logs</h1>

@if (Model.Pagination.total > 0)
{
    <partial name="_PagniationPartial" model="@(("/Log/Index", Model.Pagination.index, Model.Pagination.total))" />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rows[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rows[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr class="@(row.Level >= CheckLogWorker.LogLevel.Error ? "red" : string.Empty)">
                <td>
                    @Html.DisplayFor(_ => row.Level)
                </td>
                <td>
                    @Html.DisplayFor(_ => row.Name)
                </td>

                <td>
                    @if (row.Deleted)
                    {
                        @:Deleted
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@row.Id">View</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Pagination.total > 0)
{
    <partial name="_PagniationPartial" model="@(("/Log/Index", Model.Pagination.index, Model.Pagination.total))" />
}