@page
@model SystemModel

@inject DatabaseContext database
@inject Login login
@{
    ViewData["Title"] = "System";
}

<h1>System</h1>

<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Time</td>
            <td>@DateTime.Now.ToString("yyyy-MM-dd")</td>
        </tr>

        <tr>
            <td>Path</td>
            <td>@System.IO.Path.GetFullPath(".")</td>
        </tr>

        <tr>
            <td>Account</td>
            <td>@(login.Account?.Username ?? "(anonymous)")</td>
        </tr>

        <tr>
            <td>Session</td>
            <td>@(login.Session?.Code ?? "(no session)")</td>
        </tr>

        <tr>
            <td>Telegram</td>
            @{ var bots = await database.Telegrams.Select(t => t.BotToken).ToListAsync(); }
            @if (bots.Any())
            {
                <td>@string.Join(", ", bots)</td>
            }
            else
            {
                <td>(none)</td>
            }
        </tr>

        <tr>
            <td>Email</td>
            @{ var emails = await database.Emails.Select(t => t.To).ToListAsync(); }
            @if (emails.Any())
            {
                <td>@string.Join(", ", emails)</td>
            }
            else
            {
                <td>(none)</td>
            }
        </tr>
    </tbody>
</table>