@page
@model DetailsModel

@using CheckLogUtility.Logging
@{
    ViewData["Title"] = "Node";
}

<h1>
    @Model.Node.Identifier
    <img src="~/images/focus.png" />
</h1>

<table class="table">
    <tbody>
        <tr>
            <td>@nameof(Model.Node.Identifier)</td>
            <td>@Model.Node.Identifier</td>
        </tr>

        <tr>
            <td>@nameof(Model.Node.LevelLog.Level)</td>
            <td>
                @{ var level = Model.Node.LevelLog?.Level ?? LogLevel.Unknown; }
                @if (level >= LogLevel.Warn)
                {
                    @level

                    <form asp-page="./Resolve" asp-route-id="@Model.Node.Id" method="post">
                        @switch (level)
                        {
                            case LogLevel.Warn:<button class="btn btn-warning">Resolve</button> break;
                            case LogLevel.Error: <button class="btn btn-danger">Resolve</button>break;
                        }
                    </form>
                }
                else
                {
                    @:Normal
                }
            </td>
        </tr>

        <tr>
            <td>@nameof(Model.Node.LevelTime)</td>
            <td>@(Model.Node.LevelTime != default ? Model.Node.LevelTime.ToString("yyyy-MM-dd HH:mm:ss") : "(none)")</td>
        </tr>

        @if (Model.Node.Disabled)
        {
            <tr>
                <td>@nameof(Model.Node.Disabled)</td>
                <td>@Model.Node.Disabled</td>
            </tr>
        }

        @if (Model.Lines?.Any() ?? false)
        {
            <tr>
                <td>@nameof(Model.Node.LevelLog)</td>
                <td class="log-content">
                    <partial name="../Log/LogContent" model="Model.Lines" />
                </td>
            </tr>
        }

        <tr>
            <td>@nameof(Model.Node.LogTime)</td>
            <td>@(Model.Node.LogTime != default ? Model.Node.LogTime.ToString("yyyy-MM-dd HH:mm:ss") : "(none)")</td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <link rel="stylesheet/less" type="text/css" href="~/css/log-content.less" />
}