@page
@model ListModel

@{
    ViewData["Title"] = "Nodes";
}
<h1>
    Nodes
    <img src="~/images/focus.png" />
</h1>
<a asp-page="./Map">Map View</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nodes[0].Identifier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nodes[0].LevelLog.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nodes[0].LevelTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nodes[0].LogTime)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var ordered = Model.Nodes
                .OrderByDescending(t => t.LevelLog?.Level ?? CheckLogUtility.Logging.LogLevel.Unknown)
                .ThenBy(t => t.Identifier);
        }
        @foreach (var row in ordered)
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => row.Identifier)
                </td>
                <td>
                    @(row.LevelLog?.Level.ToString() ?? "Normal")
                </td>
                <td>
                    @(row.LevelTime != default ? row.LevelTime.ToString("yyyy/MM/dd HH:mm:ss") : "(none)")
                </td>
                <td>
                    @(row.LogTime != default ? row.LogTime.ToString("yyyy/MM/dd HH:mm:ss") : "(none)")
                </td>
                <td>
                    @if (row.Disabled)
                    {
                        @:Disabled
                    }
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@row.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

